<include file="./Public/widget/head.html" title="添加系统消息——Mideo管理员管理系统" keywords="Mideo"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css">
<include file="./Public/widget/header.html"/>
        <include file="./Public/widget/topheader.html"/>
        <ul id="side" class="side">
            <include file="./Public/widget/leftnav.html"/>
        </ul>
        <div class="content">
            <include file="./Public/widget/nav/msg.html"/>
            <form action="__CONTROLLER__/action_add" class="form" enctype="multipart/form-data" method="post">
                <div class="form-item">
                    <label>国家：</label><volist name="allowCountry" id="country"><label><input type="checkbox" class="country" value="{$country}">{$country|getCountryName}</label>&nbsp;&nbsp;&nbsp;</volist>
                    <input type="hidden" name="country" id="country" required="required" value="BR" />
                </div>
                <div class="form-item">
                    <label style="vertical-align: top;">标题：</label>
                    <input type="text" name="title" />
                </div>
                <div class="form-item">
                    <label style="vertical-align: top;">内容：</label>
                    <div style="width:800px;height: 200px;display: inline-block;">
                        <!-- <div id="em"></div>
                        <div id="text" style="width:600px;height: 200px;display: inline-block;border: 1px solid #aaa"  contenteditable="true"></div> -->
                        <textarea style="width:600px;height: 200px;display: inline-block;" id="content" name="content"></textarea>
                    </div>

                    <!-- <script id="container" name="content" style="width:800px;height: 300px;margin-left: 54px;margin-top: -25px;" type="text/plain"></script> -->
                </div>
                <div class="form-item">
                    <label style="vertical-align: top;">网址：</label>
                    <input type="text" name="actionurl" placeholder="空表示不跳转" />
                </div>
                <div class="form-item">
                    <input type="submit" value="提交" />
                </div>
            </form>
        </div>
<include file="./Public/widget/footer.html"/>
<script type="text/javascript" src="__PUBLIC__/emoji/Iemoji.js"></script>
<script type="text/javascript">

$(function() {

    // var d = Iemoji({
    //     el:$("#em"),
    //     input:$("#text")
    // });

    //转unicode码
    var decToHex = function(str) {
        var res=[];
        for(var i=0;i < str.length;i++)
            res[i]=("00"+str.charCodeAt(i).toString(16)).slice(-4);
        return "\\u"+res.join("\\u");
    }
    var hexToDec = function(str) {
        str=str.replace(/\\/g,"%");
        return unescape(str);
    }

    console.log(decToHex('128514'));
    console.log((hexToDec('\uD83D\uDE04')));


    var str=decToHex("decToHex unicode 编码转换");
    //alert("编码后："+str+"\n\n解码后："+hexToDec(str));

    $("#text").focusout(function() {
        var s = d.content();
        var dom =$("<p>"+s+"</p>");
        $.map( dom.find("img"), function(n){
            var code = $(n).attr("data-code");
            $(n).replaceWith("[mideo]"+code+"[/mideo]");
        });
        $("#content").val(dom.html())
        //console.log(dom.html())
    });









    $('.country').click(function(e) {
        var countryNodes = $('.country');
        var result = "";
        for (var i = 0; i < countryNodes.length; i++) {
            var item = countryNodes[i];
            if (item.checked) {
                result += item.value + ",";
            }
        }
        if (result) {
            result += ",";
            result = result.replace(",,", "");
        }
        $('#country').val(result);
    });

    $('.country')[0].checked = true;
});







var base64EncodeChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
var base64DecodeChars = new Array(-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 62, -1, -1, -1, 63, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, -1, -1, -1, -1, -1, -1, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, -1, -1, -1, -1, -1, -1, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, -1, -1, -1, -1, -1);
/**
 * base64编码
 * @param {Object} str
 */
function base64encode(str){
    var out, i, len;
    var c1, c2, c3;
    len = str.length;
    i = 0;
    out = "";
    while (i < len) {
        c1 = str.charCodeAt(i++) & 0xff;
        if (i == len) {
            out += base64EncodeChars.charAt(c1 >> 2);
            out += base64EncodeChars.charAt((c1 & 0x3) << 4);
            out += "==";
            break;
        }
        c2 = str.charCodeAt(i++);
        if (i == len) {
            out += base64EncodeChars.charAt(c1 >> 2);
            out += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
            out += base64EncodeChars.charAt((c2 & 0xF) << 2);
            out += "=";
            break;
        }
        c3 = str.charCodeAt(i++);
        out += base64EncodeChars.charAt(c1 >> 2);
        out += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
        out += base64EncodeChars.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6));
        out += base64EncodeChars.charAt(c3 & 0x3F);
    }
    return out;
}
/**
 * base64解码
 * @param {Object} str
 */
function base64decode(str){
    var c1, c2, c3, c4;
    var i, len, out;
    len = str.length;
    i = 0;
    out = "";
    while (i < len) {
        /* c1 */
        do {
            c1 = base64DecodeChars[str.charCodeAt(i++) & 0xff];
        }
        while (i < len && c1 == -1);
        if (c1 == -1)
            break;
        /* c2 */
        do {
            c2 = base64DecodeChars[str.charCodeAt(i++) & 0xff];
        }
        while (i < len && c2 == -1);
        if (c2 == -1)
            break;
        out += String.fromCharCode((c1 << 2) | ((c2 & 0x30) >> 4));
        /* c3 */
        do {
            c3 = str.charCodeAt(i++) & 0xff;
            if (c3 == 61)
                return out;
            c3 = base64DecodeChars[c3];
        }
        while (i < len && c3 == -1);
        if (c3 == -1)
            break;
        out += String.fromCharCode(((c2 & 0XF) << 4) | ((c3 & 0x3C) >> 2));
        /* c4 */
        do {
            c4 = str.charCodeAt(i++) & 0xff;
            if (c4 == 61)
                return out;
            c4 = base64DecodeChars[c4];
        }
        while (i < len && c4 == -1);
        if (c4 == -1)
            break;
        out += String.fromCharCode(((c3 & 0x03) << 6) | c4);
    }
    return out;
}
/**
 * utf16转utf8
 * @param {Object} str
 */
function utf16to8(str){
    var out, i, len, c;
    out = "";
    len = str.length;
    for (i = 0; i < len; i++) {
        c = str.charCodeAt(i);
        if ((c >= 0x0001) && (c <= 0x007F)) {
            out += str.charAt(i);
        }
        else
            if (c > 0x07FF) {
                out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
                out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
            }
            else {
                out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
                out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
            }
    }
    return out;
}
/**
 * utf8转utf16
 * @param {Object} str
 */
function utf8to16(str){
    var out, i, len, c;
    var char2, char3;
    out = "";
    len = str.length;
    i = 0;
    while (i < len) {
        c = str.charCodeAt(i++);
        switch (c >> 4) {
            case 0:
            case 1:
            case 2:
            case 3:
            case 4:
            case 5:
            case 6:
            case 7:
                // 0xxxxxxx
                out += str.charAt(i - 1);
                break;
            case 12:
            case 13:
                // 110x xxxx 10xx xxxx
                char2 = str.charCodeAt(i++);
                out += String.fromCharCode(((c & 0x1F) << 6) | (char2 & 0x3F));
                break;
            case 14:
                // 1110 xxxx10xx xxxx10xx xxxx
                char2 = str.charCodeAt(i++);
                char3 = str.charCodeAt(i++);
                out += String.fromCharCode(((c & 0x0F) << 12) | ((char2 & 0x3F) << 6) | ((char3 & 0x3F) << 0));
                break;
        }
    }
    return out;
}








</script>
<include file="./Public/widget/foot.html"/>