<include file="./Public/widget/head.html" title="视频管理——Mideo管理员管理系统" keywords="Mideo"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css">

<link rel="stylesheet" type="text/css" href="__CSS__/pikaday.css"/>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/pikaday.min.js"></script>

<include file="./Public/widget/header.html"/>
        <include file="./Public/widget/topheader.html"/>
        <ul id="side" class="side">
            <include file="./Public/widget/leftnav.html"/>

        </ul>
        <div class="content">
            <include file="./Public/widget/nav/user.html"/>
            <div style="margin:5px;">开始时间：<input type="text" value="{$_GET['stime']}" id="stime" /> —— 截止时间：<input type="text" value="{$_GET['etime']}" id="etime" /> <input class="btn btn-success" id="search" type="button" value="搜索"></div>

            <table class="table table-border mt20">
                <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>用户名</th>
                        <th>国家<select class="table-header-select">
                        <option value="">ALL</option>
                        <volist name="allowCountry" id="country"><option <if condition="$Think.get.country eq $country">selected='selected'</if> value="{$country}">{$country|getCountryName}</option></volist>
                        </select></th>
                        <th class="ord" data-col="v_num">发布视频数<if condition="$Think.get.ord eq v_num ">↓</if></th>
                        <th class="ord" data-col="x_num">喜欢视频数<if condition="$Think.get.ord eq x_num ">↓</if></th>
                        <th class="ord" data-col="g_num">关注人数<if condition="$Think.get.ord eq g_num ">↓</if></th>
                        <th class="ord" data-col="f_num">粉丝数<if condition="$Think.get.ord eq f_num ">↓</if></th>
                        <th class="ord" data-col="p_num">评论数<if condition="$Think.get.ord eq p_num ">↓</if></th>
                        <th>注册时间</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="item">
                    <tr>
                        <td>{$item.id}</td>
                        <td>{$item.username}</td>
                        <td>{$item.country|getCountryName}</td>
                        <td><a href="__APP__/Video/uservideos/userid/{$item.id}">{$item.v_num}</a></td>
                        <td>{$item.x_num}</td>
                        <td>{$item.g_num} <a href="__CONTROLLER__/follows/userid/{$item.id}">查看</a></td>
                        <td>{$item.f_num}</td>
                        <td>{$item.p_num}</td>
                        <td title="{$item.addtime|date='Y-m-d H:i:s',###}">{$item.addtime|date='Y-m-d',###}</td>
                    </tr>
                    </volist>
                </tbody>
            </table>
            <div class="pager">{$page}</div>
        </div>
<include file="./Public/widget/footer.html"/>
<include file="./Public/widget/foot.html"/>
<script type="text/javascript">

    var spicker = new Pikaday(
    {
        field: document.getElementById('stime'),
        firstDay: 1,
        minDate: new Date('2010-01-01'),
        maxDate: new Date('2020-12-31'),
        yearRange: [2000,2020]
    });

    var epicker = new Pikaday(
    {
        field: document.getElementById('etime'),
        firstDay: 1,
        minDate: new Date('2010-01-01'),
        maxDate: new Date('2020-12-31'),
        yearRange: [2000,2020]
    });



    $(function(){
        $("#search").click(function(){
            if($("#stime").val()=='' || $("#etime").val()==''){
                alert("查询时间未输入");
                return false;
            }
            var url = '__CONTROLLER__/discover/stime/'+$("#stime").val()+'/etime/'+$("#etime").val();
            window.location.href = url;
        });


        $(".ord").click(function(){
            var col = $(this).attr("data-col");
            var o_stime='{$_GET["stime"]}';
            var o_etime='{$_GET["etime"]}';

            var url = '__CONTROLLER__/discover/ord/'+col;
            if(o_stime!=''){
                url+='/stime/'+o_stime+'/etime/'+o_etime;
            }

            var country='{$_GET["country"]}';
            if(country!=''){
                url+='/country/'+country;
            }
            window.location.href = url;
        });

        $(".table-header-select").change(function(){
            var country = $(this).val();

            var col = '{$_GET["col"]}';
            var o_stime='{$_GET["stime"]}';
            var o_etime='{$_GET["etime"]}';

            var url = '__CONTROLLER__/discover/country/'+country;
            if(o_stime!=''){
                url+='/stime/'+o_stime+'/etime/'+o_etime;
            }
            if(col!=''){
                url+='/ord/'+col;
            }
            window.location.href = url;
        });



    });

</script>