<include file="./Public/widget/head.html" title="话题管理——Mideo管理员管理系统" keywords="Mideo"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css">
<include file="./Public/widget/header.html"/>
        <include file="./Public/widget/topheader.html"/>
        <ul id="side" class="side">
            <include file="./Public/widget/leftnav.html"/>
        </ul>
        <div class="content">
            <include file="./Public/widget/nav/topic.html"/>
            <form class="form" action="__CONTROLLER__/action_add" enctype="multipart/form-data" method="post">
                <div class="form-item">
                    <label class="item-title">国家：</label>
                    <select name="country">
                        <volist name="country" id="citem">
                        <if condition="$key eq $currCountry">
                        <option value="{$key}" selected="selected">{$citem}</option>
                        <else/>
                        <option value="{$key}">{$citem}</option>
                        </if>
                        </volist>
                    </select>
                </div>
                <div class="form-item">
                    <label class="item-title">显示：</label>
                    <input type="radio" name="show" value="1" /> 显示
                    <input type="radio" checked="checked" name="show" value="0" /> 不显示
                </div>
                <div class="form-item">
                    <label class="item-title">标题：</label>
                    <input type="text" class="text-long" name="title" required="" placeholder="title" />
                </div>
                <div class="form-item">
                    <label class="item-title">描述：</label>
                    <textarea  name="summary" placeholder="summary" style="width:400px;height: 100px;"></textarea>
                    <!-- <input type="text" class="text-long" name="summary" required="" placeholder="summary" /> -->
                </div>
                <div class="form-item">
                    <label class="item-title">内容：</label>
                    <input type="text" class="text-long" name="content" placeholder="content" />
                </div>
                <div class="form-item">
                    <label class="item-title">图片：</label>
                    <input type="file" name="picture" />
                </div>
                <div class="form-item">
                    <label class="item-title">海报：</label>
                    <input type="file" name="hot_pic" />
                </div>
                <div class="form-item">
                    <label class="item-title">视频：</label>
                    <input type="file" name="video" />
                </div>
                <div class="form-item">
                    <label class="item-title">&nbsp;</label>
                    <input type="submit" value="添加"/>
                </div>
            </form>
        </div>
<include file="./Public/widget/footer.html"/>
<include file="./Public/widget/foot.html"/>