<include file="./Public/widget/head.html" title="视频管理——Mideo管理员管理系统" keywords="Mideo"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css">

<link rel="stylesheet" type="text/css" href="__CSS__/pikaday.css"/>
<script type="text/javascript" src="__JS__/jquery.js"></script>

<include file="./Public/widget/header.html"/>
        <include file="./Public/widget/topheader.html"/>
        <ul id="side" class="side">
            <include file="./Public/widget/leftnav.html"/>
            
        </ul>
        <div class="content">
            <include file="./Public/widget/nav/topic.html"/>
            
            <table class="table table-border mt20">
                <thead>
                    <tr>
                        <th>视频ID</th>
                        <th>国家</th>
                        <th>视频标题</th>
                        <th>视频图片</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="item">
                    <tr>
                        <td>{$item.id}</td>
                        <td>{$item.country|getCountryName}</td>
                        <td>{$item.description}</td>
                        <td><img style="max-width:100px;max-height: 100px;" src="{$null|getBaseUrl}/uploads/{$item.thumb}" alt=""/></td>
                        <td><input class="js_delete btn btn-danger" data-id="{$item.rid}" type="button" value="删除" /></td>
                    </tr>
                    </volist>
                </tbody>
            </table>
            <div class="pager">{$page}</div>
        </div>
<include file="./Public/widget/footer.html"/>
<include file="./Public/widget/foot.html"/>
<script type="text/javascript">




$(function(){

        $('.js_delete').click(function(e) {
            var id = $(this).attr('data-id');
            $.ajax({
                dataType:'json',
                url: '__CONTROLLER__/tag_video_del/id/'+id
            }).done(function(data) {
                if (data.code == 200) {
                    window.location.reload();
                } else {
                    alert(data.msg);
                }
            }).fail(function(msg) {
                console.error(msg);
                alert('操作失败');
            });
        });



});

</script>