<include file="./Public/widget/head.html" title="音乐管理——Mideo管理员管理系统" keywords="Mideo"/>
<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
<link rel="stylesheet" type="text/css" href="__CSS__/admin.css">
<include file="./Public/widget/header.html"/>
        <include file="./Public/widget/topheader.html"/>
        <ul id="side" class="side">
            <include file="./Public/widget/leftnav.html"/>
        </ul>
        <div class="content">
            <include file="./Public/widget/nav/tool.html"/>
            <p class="mt20">国家：
                <select id="country">
                    <volist name="country" id="citem">
                    <if condition="$key eq $currCountry">
                    <option value="{$key}" selected="selected">{$citem}</option>
                    <else/>
                    <option value="{$key}">{$citem}</option>
                    </if>
                    </volist>
                </select> 
                <select id="c_cid" name="cid">
                    <option value="">全部</option>
                    <option value="0" <if condition="$cid eq '0'">selected="selected"</if> >未分类</option>
                    <volist name="cate_list" id="vo">
                    <option value="{$vo.id}" <if condition="$cid eq $vo['id']">selected="selected"</if> >{$vo.name}</option>
                    </volist>
                </select>
            </p>
            <table class="table table-border mt20">
                <thead>
                    <tr>
                        <th>音乐ID</th>
                        <th>音乐标题</th>
                        <th>歌手</th>
                        <th>时长</th>
                        <th>源地址</th>
                        <th>备份地址</th>
                        <th>添加时间</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="item">
                    <tr>
                        <td>{$item.id}</td>
                        <td>{$item.title}</td>
                        <td>{$item.author}</td>
                        <td>{$item.duration}</td>
                        <td><a target="_blank" href="{$item.url}">{$item.url}</a></td>
                        <td><a target="_blank" href="{$null|getBaseUrl}/uploads/{$item.bakurl}">{$item.bakurl}</a></td>
                        <td>{$item.addtime|date='Y-m-d H:i:s',###}</td>
                        <td><a href="__CONTROLLER__/edit/id/{$item.id}">修改</a></td>
                        <td><input class="js_delete btn btn-danger" data-id="{$item.id}" type="button" value="删除" /></td>
                    </tr>
                    </volist>
                </tbody>
            </table>
            <div class="pager">{$page}</div>
        </div>
<include file="./Public/widget/footer.html"/>
<script type="text/javascript">
    $(function() {
        initEvent();
    });

    function initEvent() {
        $('#country').change(function(e) {
            var $country = $(this).val();
            window.location.href = "__ACTION__/country/" + $country;
        });

        $('.js_delete').click(function(e) {
            if (confirm("确认删除？")) {
                var id = $(this).attr('data-id');
                $.ajax({
                    dataType:'json',
                    url: '__CONTROLLER__/action_delete/id/' + id
                }).done(function(data) {
                    if (data.code == 200) {
                        window.location.reload();
                    } else {
                        alert(data.msg);
                    }
                }).fail(function(msg) {
                    console.error(msg);
                    alert('操作失败');
                });
            }
        });
    }

$("#c_cid").change(function(){
    var $cid = $(this).val();
    var $country = $("#country").val();
    if($cid=="")
        window.location.href = "__ACTION__/country/" + $country;
    else
        window.location.href = "__ACTION__/country/" + $country+"/cid/"+ $cid;
});    
</script>
<include file="./Public/widget/foot.html"/>